---
import Layout from "../layouts/Layout.astro";
import GalleryInauguracion from "../components/GalleryInauguracion"

---

<Layout title="Arroyo Seco es de Boca - Inauguracion">
    <h3 class="font text-xl md:text-3xl tracking-wider mt-3 p-4 text-center">Inauguración de la sede social</h3>
    <div class="px-3 max-w-[950px] mx-auto">
        <p class="text-sm md:text-lg pb-2">El <b class="font tracking-wider text-yellow">22 de junio del 2024</b> fue el día que más soñamos. Con orgullo y emoción, celebramos la inauguración de la nueva sede social del CABJ, un espacio que simboliza el esfuerzo, la pasión y la unión de nuestra gran familia xeneize. Este proyecto, que hoy se hace realidad, no hubiera sido posible sin el trabajo incanzable de un equipo de bosteros comprometidos, quienes aportaron su tiempo, energía y dedicación para construir un lugar destinado a la comunidad boquense.</p>
        <p class="text-sm md:text-lg pb-2">Cada ladrillo colocado, cada detalle cuidado, lleva consigo el espíritu solidario que define a nuestra institución. La peña no solo será un espacio de encuentro y actividades, sino también un recordatorio de lo que se puede lograr cuando trabajamos juntos, con el corazón azul y oro como motor.</p>
        <p class="text-sm md:text-lg pb-2">Ese día, no solo realizó una inauguración, sino también se celebró el fruto del esfuerzo colectivo, demostrando que cuando el trabajo se une a la pasión, los sueños se convierten en realidad. <b class="font tracking-wider text-yellow">¡Vamos Boca! ¡Vamos nuestra sede!</b></p>
    </div>

    <GalleryInauguracion client:only="react"/>
</Layout>