---
import Gallery from '../components/Gallery';
import IconSocial from '../components/IconSocial.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Arroyo Seco es de Boca - Inicio">
	<main class="">
		<h1 class="text-[17px] md:text-xl text-center font-bold tracking-wide py-1 my-0">Bienvenidos a la página oficial</h1>
		<div class="flex items-center justify-center mt-4 md:mt-6">
			<img src="/images/escudoBoca.png" alt="" class="w-32 md:w-44">
			<h2 class="tracking-wider text-4xl md:text-6xl pr-6 font">Arroyo Seco <br> es de Boca</h2>
		</div>

		<div class="card mx-10 my-4 md:my-10 rounded-lg p-4 max-w-[800px] md:mx-auto">
			<h3 class="tracking-wider text-xl md:text-3xl font">¿Quienes somos?</h3>

			<div class="flex">
				<p class="text-sm md:text-lg p-2 leading-6">
					<b class="text-yellow">"Arroyo Seco es de Boca"</b> es una asociación civil orientada a lo cultural, social y deportivo. Nuestra institución brinda ayuda a todos los bosteros para que puedan estar más cerca del club, y además se enfoca en realizar proyectos para ayudar a la sociedad sin importar los colores
				</p>
				<img src="images/logoPeña.jpeg" alt="" class="w-32 h-32 rounded-full hidden md:inline">
			</div>

			<div class="text-sm md:text-lg flex justify-center items-center rounded-lg py-0.5 p-2 mt-2 md:mt-6 mb-6 border-[1px] border-yellow max-w-[500px] mx-auto">
				<img src="/icons/pinned.svg" class="pr-2">
				<p class="font tracking-wider">Estamos ubicados en: 
					<a class="hover:underline text-yellow" target="_blank" href="https://www.google.com/maps/place/Sede+Social+del+C.A.B.J.+de+ARROYO+SECO/@-33.157838,-60.501841,17z/data=!4m6!3m5!1s0x95b70b277b8178b7:0x5db8ba48a7b13e62!8m2!3d-33.1578762!4d-60.5029!16s%2Fg%2F11j1hf1ky5?hl=es-419&entry=ttu&g_ep=EgoyMDI0MTExMS4wIKXMDSoASAFQAw%3D%3D">Gaboto 641, Arroyo Seco, Santa Fe</a>
				</p>
				
			</div>

			<div class="flex flex-wrap gap-3 justify-evenly items-center font">
				<IconSocial icon="/icons/brand-instagram.svg" id="" url="">Instagram</IconSocial>
				<IconSocial icon="/icons/brand-facebook.svg" id="" url="">Facebook</IconSocial>
				<IconSocial icon="/icons/phone.svg" id="" url="">Whatsapp</IconSocial>
			</div>
		</div>

		<section class="w-full mt-10 md:mt-16">
			<h3 class="font text-xl md:text-3xl text-yellow text-center p-6 md:pt-10 pb-2">Proyecto sede</h3>
			<p class="text-white text-sm leading-6 px-8 md:text-lg max-w-[900px] mx-auto">
				La sede del CABJ es un proyecto que comenzó hace años y que fue creciendo día a día con <b class="text-yellow font tracking-wider">esfuezo, dedicación y sacrificio</b>. El objetivo es que los xeneizes de la zona puedan disfrutar de un lugar propio. Se dejó el alma y el corazón para avanzar y cumplir el sueño de todos. Se planeó, se empezó, se ejecutó y se logró, a todo pulmón y <b class="text-yellow font tracking-wider">POR AMOR A BOCA</b>
			</p>
			<div class="bg-yellow text-blue font-bold font tracking-wider text-sm mt-4 text-center">
				<p class="px-2">Mirá cómo fue la inauguración haciendo <a href="/inauguracion" class="underline">click acá</a></p>
			</div>

			<Gallery client:only="react"/>
		</section>
	</main>
</Layout>

<style>
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		background: linear-gradient(135deg, var(--blue), var(--blue2), var(--blue));
		background-size: 200% 200%;
		animation: gradientAnimation 5s linear infinite;
		color: white;
		backdrop-filter: blur(16px) saturate(180%);
		-webkit-backdrop-filter: blur(16px) saturate(180%);
		background-color: rgba(17, 25, 40, 0.75);
		border-top: 1px solid rgba(255, 255, 255, 0.125);
		border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  	}

	@keyframes gradientAnimation {
		0% { background-position: 0% 50%; }
		50% { background-position: 100% 50%; }
		100% { background-position: 0% 50%; }
	}

	.card {
		backdrop-filter: blur(6px) opacity(0.1) saturate(180%);
		-webkit-backdrop-filter: blur(6px) opacity(0.1) saturate(180%);
		background-color: rgba(17, 25, 40, 0.493);
		border: 1px solid #ffca095e;
	}

	section {
		border-top: 1px solid #ffca095e;
	}

</style>
