---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro"
---

<Layout title="Arroyo Seco es de Boca - Jornadas">
    <h3 class="font text-2xl md:text-3xl mt-3 p-4 text-center">Jornadas solidarias</h3>
    <div class="text-center max-w-[700px] mx-auto px-3 md:px-0">
        <p class="text-sm md:text-lg text-balance">La institución realiza <b class="font text-yellow">acciones y jornadas solidarias</b> para ayudar a los que más lo necesitan. Estamos comprometidos en colaborar con la sociedad más allá de los colores.</p>
        <p class="text-sm md:text-lg text-balance">Estos son algunas donaciones/acciones que la peña realizó y sigue llevando a cabo:</p>
    </div>
    <div class="flex flex-col justify-center items-center gap-3 my-5 2xl:flex-wrap 2xl:flex-row 2xl:gap-6 max-w-[900px] mx-auto">
        <Card 
        span="Medicamentos" 
        title="Centros de salud y hospitales" 
        description='Realizamos donaciones de medicamentos a diferentes establecimientos de salud: Hospital SAMCO N° 50, Centro de Salud "Ramón Carrillo" (Arroyo Seco), Centro de Salud "Eva Perón" (Fighiera), etc.'
        image="/images/solidaria12.png"
        />
        <Card 
            span="Vestimenta y alimentos" 
            title='Merendero "Estrellita Virgen de Luján"' 
            description='Campaña solidaria "Boca te abriga". Colecta de ropa de abrigo, bufandas, calzados, frazadas, con el fin de que las personas mas necesitadas puedan combatir el frío. Además, se colaboró con la entrega de alimentos para el almuerzo'
            image="/images/solidaria13.png"
        />
        <Card 
            span="Varios" 
            title='Tapitas plásticas - Útiles escolares' 
            description='Campaña de donación de tapitas plásticas. La peña es sede oficial del hospital Garrahan con el fin de poder depositar tapitas para su utilización'
            description2='Se hizo entrega de útiles escolares y diferentes libros a la escuela 6194 Almafuerte del Paraje el Ombú, zona rural de Arroyo Seco.'
            image="/images/solidaria14.png"
        />
        <Card 
            span="Festejos" 
            title='Día de las Infancias' 
            description='Celebramos el día de las infancias en el "Paraje El Ombu". Decenas de chicos participaron de juegos recreativos, lúdicos, juegos inflables, metegol, personajes animados, regalos, almuerzo y merienda.'
            image="/images/solidaria15.png"
        />
    </div>
</Layout>