---

---

<footer class="h-12 border-t-[1px] border-[#ffca095e] flex items-center justify-center">
    <p class="text-white px-6 text-xs md:text-base">Peña Arroyo Seco es de Boca <br class="md:hidden"> © 2025 by Luciana Vanelli</p>
</footer>