---

---

<header class="h-20 px-8 md:px-16 flex justify-between items-center relative max-w-[1000px] mx-auto">
    <img src="images/logoPeña.jpeg" alt="logo" class="w-16 p-1 rounded-full">
    <nav class="text-[17px] hidden md:flex gap-3">
        <a href="/">Inicio</a>
        <a href="/historia">Historia</a>
        <a href="/jornadas-solidarias">Jornadas solidarias</a>
        <a href="/viajes">Viajá con nosotros</a>
        <a href="/hacete-socio">Hacete socio</a>
    </nav>
    <div class="md:hidden">
        <img id="button-nav" class="cursor-pointer" src="icons/menu-deep.svg" alt="">
        <div id="nav-mobile" class="hidden fixed top-0 left-0 flex-col gap-3 z-40">
            <span id="close-nav" class="absolute top-3 right-3 cursor-pointer">x</span>
            <a href="/">Inicio</a>
            <a href="/historia">Historia</a>
            <a href="/jornadas-solidarias">Jornadas solidarias</a>
            <a href="/viajes">Viajá con nosotros</a>
            <a href="/hacete-socio">Hacete socio</a>
        </div>
    </div>
</header>

<style>
    a:hover {
        color: var(--yellow);
        text-decoration: underline;
    }

    #nav-mobile {
        padding: 30px;
        height: 100vh;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.125);
    }
</style>

<script>
    const buttonNav = document.getElementById("button-nav")
    const navMobile = document.getElementById("nav-mobile")
    const closeNav = document.getElementById("close-nav")

    buttonNav.addEventListener('click', ()=> {
        navMobile.classList.toggle('hidden')
        navMobile.classList.toggle('flex')
    })

    closeNav.addEventListener('click', ()=> {
        navMobile.classList.toggle('hidden')
        navMobile.classList.toggle('flex')
    })
</script>